@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject IStringLocalizer<AccessControl> L
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @if (CultureInfo.CurrentCulture.Name == "ar")
        {
            <span>!@context.User.Identity.Name, @L["hello"]</span>
        }
        else
        {
            <span>@L["hello"], @context.User.Identity.Name!</span>
        }
        <a href="#" @onclick="BeginSignOut">@L["logout"]</a>
        <SelectLanguage />
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">@L["login"]</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}