@page
@model ContactsListModel

<h2>Contact List</h2>
<p>Type something in the input field to search the table for first names, last names or emails.</p>  
<input class="form-control" id="myInput" type="text" placeholder="Search...">
<br>

<table class="table table-striped table-responsive">
    <thead>
        <tr class="table-dark">
            <th scope="col"></th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @if (Model.ContactsList.Count > 0)
        {
            @foreach (var contact in Model.ContactsList)
            {
                var rowClass = contact.Id % 2 == 0 ? "even-row" : "odd-row";
                var married = contact.MaritalStatus == true ? "married" : "not married";

                <tr class="@rowClass search-filter" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseArea-@contact.Id" role="button" data-bs-target="#collapseArea-@contact.Id">
                    <th scope="row">@contact.Id</th>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Email</td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 0;">
                        <div class="collapse" id="collapseArea-@contact.Id">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@contact.Title @contact.FirstName @contact.LastName</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Date of birth: @contact.BirthDate</h6>
                                    <h6 class="card-subtitle mb-2 text-muted">Marital status: @married</h6>
                                    <p class="card-text">@contact.Description</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        else 
        {
            <tr>
                <td colspan="4">No contacts to show.</td>
            </tr>
        }
    </tbody>
</table>

<script>
    window.addEventListener("load", function() {
        var input = document.getElementById("myInput");
        var table = document.getElementById("myTable");
        var rows = table.getElementsByTagName("tr");
        
        input.addEventListener("keyup", function() {
            var value = this.value.toLowerCase();
            for (var i = 0; i < rows.length; i++) {
                var rowText = rows[i].textContent.toLowerCase();
                if (rowText.indexOf(value) > -1) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        });
    });
</script>