@model Pagination

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    @if (Model.TotalPages > 1)
    { @if (Model.PageNumber > 1)
      {
        <li class="page-item">
          <a
            class="page-link"
            href="@Url.Page("Index", new { pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })"
            >Previous</a
          >
        </li>
      } @if (Model.PageNumber > 3)
      {
        <li class="page-item">
          <a
            class="page-link"
            href="@Url.Page("Index", new { pageNumber = 1, pageSize = Model.PageSize })"
            >1</a
          >
        </li>
        @if (Model.PageNumber > 4)
        {
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        }   } @for (int i = Math.Max(1, Model.PageNumber - 2); i <=
    Math.Min(Model.TotalPages, Model.PageNumber + 2); i++)
      {
        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
          <a
            class="page-link"
            href="@Url.Page("Index", new { pageNumber = i, pageSize = Model.PageSize })"
            >@i</a
          >
        </li>
      } @if (Model.PageNumber < Model.TotalPages - 2)
      { @if (Model.PageNumber <
    Model.TotalPages - 3)
        {
          <li class="page-item disabled">
            <span class="page-link">...</span>
          </li>
        }
        <li class="page-item">
          <a
            class="page-link"
            href="@Url.Page("Index", new { pageNumber = Model.TotalPages, pageSize = Model.PageSize })"
            >@Model.TotalPages</a
          >
        </li>
      } @if (Model.PageNumber < Model.TotalPages)
      {
        <li class="page-item">
          <a
            class="page-link"
            href="@Url.Page("Index", new { pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })"
            >Next</a
          >
        </li>
      } }
  </ul>
</nav>


