@using ContactDatabase.Shared

@inject HttpClient Http
@inject IStringLocalizer<ContactForm> L
@inject NavigationManager NavigationManager

<div class="text-center form-title">
    <h2>@(EditMode ? @L["edit-page-title"] : @L["create-page-title"])</h2>
</div>

<br >

<div class="card mb-3 contact-form">
    <div class="card-body">
        <EditForm Model="Contact" OnSubmit="HandleFormSubmit">
            <div class="container">
                <div class="row">
                    <div class="col mb-3">
                        <label for="firstNameInput" class="form-label @(_language=="ar" ? "arabic": "")">@L["first-name"]</label>
                        <InputText id="firstNameInput" class="form-control" @bind-Value=Contact.FirstName />
                    </div>
                    <div class="col mb-3">
                        <label for="lastNameInput" class="form-label @(_language=="ar" ? "arabic": "")">@L["last-name"]</label>
                        <InputText id="lastNameInput" class="form-control" @bind-Value=Contact.LastName />
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="emailInput" class="form-label @(_language=="ar" ? "arabic": "")">@L["email"]</label>
                        <InputText id="emailInput" class="form-control" @bind-Value=Contact.Email type="email"/>
                    </div>
                    <div class="col mb-3">
                        <label for="titleInput" class="form-label @(_language=="ar" ? "arabic": "")">@L["title"]</label>
                        <InputSelect class="form-select" id="titleInput" @bind-Value=Contact.Title>
                            <option class="@(_language=="ar" ? "arabic": "")" value="Mr." selected="@((Contact.Title == "Mr.") ? true : false)">@L["mr"]</option>
                            <option class="@(_language=="ar" ? "arabic": "")" value="Mrs." selected="@((Contact.Title == "Mrs.") ? true : false)">@L["mrs"]</option>
                            <option class="@(_language=="ar" ? "arabic": "")" value="Miss" selected="@((Contact.Title == "Miss") ? true : false)">@L["miss"]</option>
                        </InputSelect>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="descriptionInput" class="form-label @(_language=="ar" ? "arabic": "")">@L["description"]</label>
                        <textarea class="form-control" id="descriptionInput" rows="3" @bind=Contact.Description>@Contact.Description</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="birthDateInput" class="form-label @(_language=="ar" ? "arabic": "")">@L["birth-date"]</label>
                        <InputDate id="birthDateInput" class="form-control" @bind-Value=Contact.BirthDate />
                    </div>
                    <div class="col mb-3">
                        <label for="maritalStatusInput" class="form-label @(_language=="ar" ? "arabic": "")">@L["marital-status"]</label>
                        <InputSelect class="form-select" id="maritalStatusInput" @bind-Value=Contact.MaritalStatus>
                            <option class="@(_language=="ar" ? "arabic": "")" value="false" selected="@Contact.MaritalStatus">@L["no"]</option>
                            <option class="@(_language=="ar" ? "arabic": "")" value="true" selected="@Contact.MaritalStatus">@L["yes"]</option>
                        </InputSelect>
                    </div>
                </div>
                <div class="row">
                    <div class="col @(_language=="ar" ? "arabic": "")">
                        <div class="text-danger error-msg">@_errorMessage</div>
                        <button type="submit" class="btn btn-primary">@(EditMode ? @L["edit-contact"] : @L["add-contact"])</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public Contact? Contact { get; set; }
    [Parameter]
    public bool EditMode { get; set; }
    private string _errorMessage { get; set; } = "";
    private string _language = CultureInfo.CurrentCulture.Name.ToString();

    private async Task HandleFormSubmit()
    {
        if(EditMode)
        {
            var json = JsonSerializer.Serialize(Contact);
            var content = new StringContent(json, Encoding.UTF8, "application/json");
            var response = await Http.PostAsync("/contact/edit-contact", content);

            if (response.IsSuccessStatusCode)
                NavigationManager.NavigateTo("/");
            else
                _errorMessage = "Failed to update the contact. Try again later.";
        }
        else 
        {
            var json = JsonSerializer.Serialize(Contact);
            var content = new StringContent(json, Encoding.UTF8, "application/json");
            var response = await Http.PostAsync("/contact/add-contact", content);

            if (response.IsSuccessStatusCode)
                NavigationManager.NavigateTo("/");
            else
                _errorMessage = "All fields are required.";
        }
    }
}