@page "/"
@attribute [Authorize]

@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<Index> L
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthState

@using ContactDatabase.Shared
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>ContactList</PageTitle>

<div class="contact-container">
    <h2 class="@(_language=="ar" ? "arabic": "")">@L["page-title"]</h2>
    <p class="@(_language=="ar" ? "arabic": "")">@L["search-instruction"]</p>
    <input class="form-control @(_language=="ar" ? "arabic": "")" id="myInput" type="text" placeholder="@L["search"] ..." @bind="_searchTerm" @bind:event="oninput" @bind:after="() => Search()">
    <br>

    <table class="table table-striped table-responsive @(_language=="ar" ? "arabic": "")">
        <thead>
            <tr class="table-dark">
                <th scope="col"></th>
                <th scope="col">@L["first-name"]</th>
                <th scope="col">@L["last-name"]</th>
                <th scope="col">@L["email"]</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @if (_contactsList.Count > 0)
            {
                @for (int i = 0; i < _contactsList.Count; i++)
                {
                    var contact = _contactsList[i];
                    var currentIndex = i;
                    var rowClass = i % 2 == 0 ? "even-row" : "odd-row";
                    var married = contact.MaritalStatus == true ? @L["married"] : @L["not-married"];

                    <tr class="@rowClass" role="button" @onclick="() => ToggleCollapse(currentIndex)">
                        <th scope="row">@(i + 1)</th>
                        <td>@contact.FirstName</td>
                        <td>@contact.LastName</td>
                        <td>@contact.Email</td>
                        <td>
                            <AuthorizeView Roles="Admin">
                                <button class="btn btn-dark" @onclick="() => HandleEditContact(contact.Email)">@L["edit"]</button>
                            </AuthorizeView>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="padding: 0;">
                            <div class="collapse" id="collapseArea-@i">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">@contact.Title @contact.FirstName @contact.LastName</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">@L["birth-date"]: @contact.BirthDate.ToString("yyyy-MM-dd")</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">@L["marital-status"]: @married</h6>
                                        <p class="card-text">@contact.Description</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="@(_language=="ar" ? "arabic": "")">@L["no-contact"]</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<Contact> _contactsList = new();
    private string _errorMessage = "";
    private string _searchTerm = "";
    private string _language = CultureInfo.CurrentCulture.Name.ToString();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await FetchContacts("/contact/fetch-contacts");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void HandleEditContact(string email)
    {
        NavigationManager.NavigateTo($"/contactform?edit={true}&email={email}");
    }

    private async Task Search()
    {
        if (!string.IsNullOrEmpty(_searchTerm))
            await FetchContacts($"/contact/search-contacts?searchTerm={_searchTerm}");
        else
            await FetchContacts("/contact/fetch-contacts");
    }

    private async Task FetchContacts(string requestUri)
    {
        var response = await Http.GetAsync(requestUri);

        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            _contactsList = JsonSerializer.Deserialize<List<Contact>>(json);

            if (_contactsList != null && _contactsList.Count < 0)
                _errorMessage = "No contacts found.";
        }
        else
        {
            _errorMessage = "Failed to fetch the contacts.";
        }
    }

    private async Task ToggleCollapse(int index)
    {
        await JSRuntime.InvokeVoidAsync("toggleCollapse", $"collapseArea-{index}");
    }
}