@inject IStringLocalizer<App> L

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p style="@(_language=="ar" ? "direction: rtl": "")">@L["determine-state"]</p>
                </Authorizing>
                <NotAuthorized>
                    <h1 style="@(_language=="ar" ? "direction: rtl": "")">@L["sorry"]</h1>
                    <p style="@(_language=="ar" ? "direction: rtl": "")">@L["not-authorized"]</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" style="@(_language=="ar" ? "direction: rtl": "")">@L["not-found"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private string _language = CultureInfo.CurrentCulture.Name.ToString();
}