@inject IStringLocalizer<App> L

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p style="@(Language=="ar" ? "direction: rtl": "")">@L["determine_state"]</p>
                </Authorizing>
                <NotAuthorized>
                    <h1 style="@(Language=="ar" ? "direction: rtl": "")">@L["sorry"]</h1>
                    <p style="@(Language=="ar" ? "direction: rtl": "")">@L["not_authorized"]</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" style="@(Language=="ar" ? "direction: rtl": "")">@L["not_found"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    string Language = CultureInfo.CurrentCulture.Name.ToString();
}